@model Vidly.Models.Customer
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<p>@Model.Name</p>
@if (Model.BirthDate.HasValue)
{
    <p>@Model.BirthDate.Value.ToShortDateString()</p>
}

